.parallax {
    /* The image used */
    background-image: url("../../images/HeroPic.jpg");

    /* Overlay navbar on hero image */
    margin-top: -80px;

    /* Set a specific height */
    min-height: 800px;
    width:100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bottom-caption {
    position: absolute;
    right: 1%;
    top: 45%;
    width: 100%;
    text-align: right;
    font-size: 28px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}

.top-caption {
    position: absolute;
    right: 60%;
    top: 12%;
    width: 38%;
    text-align: left;
    font-size: 28px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}
